
:root {
    --background-primary: #fdf8ef;
    --text-primary: #020710;
    --link-color: #ffffff;
    --ribbon-background: #ED2939;

}

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue', cursive;
    background-color: var(--background-primary);
    color: var(--text-primary);
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
}

.ribbon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--ribbon-background);
    width: 100%;
    padding:  5px 10px 5px 10px;
}

.ribbon div:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.ribbon div:first-child p {
    font-size: 1.5rem;
    font-weight: 500;
}


.ribbon div:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

.rainbow-circle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rainbow-circle img:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}

.rainbow-circle img {
    height: 350px;
    width: 350px;
}

/* Media Queries */
@media only screen and (max-width: 415px) {
    .ribbon {
        padding: 5px 10px 5px 10px;
        flex-direction: column;
        width: 100%;
    }

    .ribbon div:first-child p {
        font-size: 2rem;
    }
    .ribbon div:last-child p {
        font-size: 1rem;
    }
    .rainbow-circle img {
        height: 100%;
        width: 100%;
    }

    .ribbon div:last-child i {
        display: none;
    }

}